.NewClass {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: black;
  display: block;
}
.UserInput {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}